# Web server
flask
gunicorn

# Code coverage
coverage

# Linting/style checking
pylint

# External database
firebase-admin

# Reading from .env (.env MUST BE INSIDE upmed-api/)
python-dotenv

# For basic encryption/decryption
simple-crypt
