@import '../../index'

.suggestion_input
    border: solid 1px $medium !important
    border-radius: 6px !important
    overflow: hidden
    width: 100%
    margin-top: 4px
    margin-bottom: 8px
    padding-top: 4px
    padding-bottom: 4px
    padding-left: 6px

.suggestions
    margin-bottom: 16px
    .suggestion
        cursor: pointer
        color: $tertiary
